@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f5f5f5;
  --color-primary: #000000;
  --color-secondary: #187ddb;
  --color-location: #3d3d3d;
  --color-project-bg: #ffffff;
  --color-form-bg: #51a9fb;
  --color-form-btn-text: #ffffff;
}

.dark {
  --color-bg: #000000;
  --color-primary: #ffffff;
  --color-secondary: #187ddb;
  --color-location: #c3c3c3;
  --color-project-bg: #242424;
  --color-form-bg: #51a9fb;
  --color-form-btn-text: #000000;
}